a.active{
    color: #000000 !important;
    text-decoration: underline !important;
}

label.todo-lable {
    font-size: 20px;
    position: relative;
    top: 3px;
    left: 10px;
}
span.action {
    padding: 10px;
    position:relative;
    top:6px;
    cursor:pointer
}
.title-container{
    border-bottom:2px solid #000;
    margin: 20px 0px;
}
input[type=checkbox]:checked + label {
    color:red;
    text-decoration: line-through;
}

.cbox4 {
    font-size: 5em;
    color:red;
    text-decoration: line-through;
}
